.create-page {

  padding: 20px 60px;

  .page-content {
    background-color: #FFF;

    .create-form {
      padding: 20px;

      .form-group{
        display: inline-grid;
      }

      .submit-button-container {
        justify-content: flex-end;

        .submit-button{
          width: 100%;
        }
      }

      .input-style{
        width: 100%;
      }

      .mat-error {
        font-size: 12px;
      }
    }
  }
  .form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}
}
