<div class="create-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Add Cost</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="row">

      <div class="col col-12">

        <form class="create-form" [formGroup]="userForm" novalidate (ngSubmit)="onSubmit(userForm.value)">

          <div class="form-group col-6">
            <mat-form-field class="input-style">
              <input matInput [matDatepicker]="picker" (focus)="picker.open()" (click)="picker.open()" readonly placeholder="Cost date" class="form-control"
                formControlName="costDate">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.costDate">
              <mat-error
                *ngIf="userForm.get('costDate').hasError(validation.type) && (userForm.get('costDate').dirty || userForm.get('costDate').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group col-6">
            <mat-form-field class="input-style">
              <input matInput placeholder="Cost value" type='text' prefix="$" mask="comma_separator" class="form-control"
                formControlName="costValue">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.costValue">
              <mat-error
                *ngIf="userForm.get('costValue').hasError(validation.type) && (userForm.get('costValue').dirty || userForm.get('costValue').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group col-6">
            <mat-form-field class="input-style">
              <mat-label>Cost category</mat-label>
              <select formControlName="costCategory" matNativeControl>
                <option *ngFor="let category of categoryList" [value]="category">
                  {{category}}
                </option>
              </select>
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.costCategory">
              <mat-error
                *ngIf="userForm.get('costCategory').hasError(validation.type) && (userForm.get('costCategory').dirty || userForm.get('costCategory').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group col-6">
            <mat-form-field class="input-style">
              <input matInput placeholder="Description of cost" class="form-control"
                formControlName="descriptionOfCost">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.descriptionOfCost">
              <mat-error
                *ngIf="userForm.get('descriptionOfCost').hasError(validation.type) && (userForm.get('descriptionOfCost').dirty || userForm.get('descriptionOfCost').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group col-6">
            <mat-form-field class="input-style">
              <input matInput placeholder="Client" class="form-control" formControlName="client">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.client">
              <mat-error
                *ngIf="userForm.get('client').hasError(validation.type) && (userForm.get('client').dirty || userForm.get('client').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group col-6">
            <mat-form-field class="input-style">
              <input matInput placeholder="Job" class="form-control" formControlName="job">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.job">
              <mat-error
                *ngIf="userForm.get('job').hasError(validation.type) && (userForm.get('job').dirty || userForm.get('job').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="form-group col-6">
            <mat-form-field class="input-style">
              <input matInput placeholder="Notes" class="form-control" formControlName="notes">
            </mat-form-field>
            <ng-container *ngFor="let validation of validation_messages.notes">
              <mat-error
                *ngIf="userForm.get('notes').hasError(validation.type) && (userForm.get('notes').dirty || userForm.get('notes').touched)">
                {{validation.message}}</mat-error>
            </ng-container>
          </div>

          <div class="row submit-button-container">
            <div class="col-md-4">
              <button mat-raised-button class="submit-button" color="primary" type="submit"
                [disabled]="!userForm.valid">Create</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>