:host {
  .title {
    margin-bottom: 0;
  }

  .sub-title {
    font-size: 1.3333333333333333rem;
    display: block;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 30px;
  }

  // login page css
  #login {
    width: 100%;
    overflow: auto;
    height: 100vh;

    #login-form-wrapper {
      flex: 1 0 auto;
      padding: 32px;

      h2 {
        font-size: 3rem;
      }

      #login-form {
        width: 484px;
        max-width: 484px;
        padding: 32px;
        min-height: 350px;
        background: #fff;
        text-align: center;
        box-shadow: rgba(160, 159, 159, 0.18) 0px 0px 12px;

        .login-btn {
          text-transform: none;
          color: #ffffff;
          max-width: 150px;
          margin: 0 auto;
          box-shadow: none;
          border-radius: 4px;
          background: #177dff !important;
          border-color: #177dff !important;
        }

        .logo {
          max-width: 150px;
          margin: 20px auto;
        }

        .title {
          font-size: 2rem;
          font-weight: 400;
          margin: 15px 0 0;
        }

        form {
          width: 100%;
          text-align: left;

          mat-form-field {
            width: 100%;
          }

          mat-checkbox {
            margin: 0;
          }

          .submit-button {
            display: block;

          }
        }

        .separator {
          font-size: 1.25rem;
          margin: 20px 0px;
          font-weight: 600;
          position: relative;
          width: 100%;
          height: 1px;
          background: rgba(0, 0, 0, 0.1);

          span {
            padding: 5px 10px;
            background-color: #fff;
            position: absolute;
            top: -20px;
            margin-left: -20px;
          }
        }

        .google {
          button {
            border-radius: 4px;
            text-transform: none;
            color: #ffffff;
            padding: 0 16px;
            background: #d73d32;
            max-height: none;
            box-shadow: none;

            .mat-button-wrapper {
              display: flex;
              align-items: center;

              .google-image {
                width: 14px;
                height: 14px;
              }
            }
          }
        }
      }
    }
  }
}