<div id="login" fxLayout="column" fusePerfectScrollbar>
  <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="login-form">
      <div class="wrapper">
        <h2 class="title text-center black-500-fg font-weight-500">Agenda BOA
        </h2>
        <div class="sub-title pt-12">Sign In</div>
        <p class="font-size-12 text-center mb-16">Welcome to the Agenda BOA. Please fill in the
          information below to sign in. </p>
        <form class="example-form" fxLayout="column" class="mb-12" name="loginForm" [formGroup]="loginForm">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email*" #emailInput formControlName="email"
              autocomplete="off">
            <mat-error *ngIf="loginForm.controls.email.hasError('pattern')">Incorrect email address.
            </mat-error>
            <mat-error *ngIf="loginForm.controls.email.hasError('required')">Required</mat-error>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password*" formControlName="password" trim type="password">
            <mat-error *ngIf="loginForm.controls.password.hasError('required')">Required</mat-error>
          </mat-form-field>
          <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>
          <button mat-raised-button class="p-0 my-16 login-btn accent" (click)="tryLogin(loginForm.value)"> Sign In
          </button>
        </form>
        <p class="separator my-16">
          <span>Or</span>
        </p>
        <button type="button" class="btn btn-danger btn-block" (click)="tryGoogleLogin()">Login with Google</button>
      </div>

      <!-- <div class="login-account my-16">
        <span class="msg">Don't have an account yet ? </span>
        <a routerLink="/signup">Sign Up</a>
      </div> -->
    </div>
  </div>
</div>