<div class="page-container">
	<div class="side-bar" *ngIf="router.url.indexOf('login')==-1 && router.url.indexOf('register')==-1">
		<ul class="nav flex-column">
			<li class="nav-item">
				<a class="nav-link active" routerLink="home">
					<ion-icon name="list"></ion-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" routerLink="new-user">
					<ion-icon name="add"></ion-icon>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" (click)="logout()">
					<ion-icon name="log-out"></ion-icon>
				</a>
			</li>
		</ul>
	</div>
	<div class="content-container">
		<router-outlet></router-outlet>
	</div>
</div>