.page-container {
  display: flex;
  height: 100%;
  padding: 0px;

  .side-bar {
    background: #252223;

    .nav-link {
      color: #FFF;
      font-size: 28px;
    }
  }

  .content-container {
    width: 100%;
  }
}