/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";

body {
   margin: 0;
   background: #F2F2F2;
   height: calc(100vh - 10px);
}
