<div class="home-page">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Costs</li>
    </ol>
  </nav>
  <div class="page-content">
    <div class="list-group users-list">
      <div *ngFor="let item of users" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="row">
          <div class="col col-md-6 text-col">
            <small>Cost Date: {{item.date}}</small>
          </div>
          <div class="col col-md-6 text-col">
            <small>Cost Value: {{item.value}}</small>
          </div>
        </div>
        <div class="row">
          <div class="col col-md-6 text-col">
            <small>Cost Category: {{item.category}}</small>
          </div>
          <div class="col col-md-6 text-col" *ngIf="item.description">
            <small>Description of Cost: {{item.description}}</small>
          </div>
        </div>
      </div>
      <div class="list-group-item list-group-item-action flex-column align-items-start text-center" *ngIf="users && users.length == 0"> No Data Found</div>
    </div>
  </div>