.home-page {
  padding: 20px 60px;
}

.filter-by-age {
  color: #6c757d;

  .title {
    align-self: center;
  }

  .age-slider {
    width: 85%;
  }
}

.users-list {

  .image-col {
    text-align: center;

    .image {
      border-radius: 50%;
      width: 100px;
      height: 100px;
    }
  }

  .text-col {
    margin: auto 0px;
  }

  .actions-col {
    text-align: center;
    margin: auto 0px;

    .action {
      line-height: 1;
    }

    .icon {
      font-size: 20px;
    }
  }
}